<div class = "jumbotron">
  <h1>Anagrams and Antigrams</h1>
</div>

<form action="/result">
  <div class="form-group">
     <label for="string1">Enter a string:</label>
     <input id="string1" name="string1" class="form-control" type="text" required>
  </div>
  <div class="form-group">
     <label for="string2">Enter the second string:</label>
     <input id="string2" name="string2" class="form-control" type="text" required>
  </div>
  <button type="submit" class="btn-success">check</button>
</form>
